//message
.el-message {
  background-color: #fff !important;
  padding: 10px 24px !important;
  align-items: center !important;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
  min-width: auto !important;
  border-color: #ffffff !important;
}

//button
.el-button {
  //min-height: 32px!important;
  //padding: 0 15px!important;
}

//.el-button--primary {
//  background-color: #305cd0!important;
//  border-color: #305cd0!important;
//}
//.el-button--danger {
//  background-color: #f76c4d!important;
//  border-color:  #f76c4d!important;
//}

//input
//.el-input__inner {
//  height: 34px !important;
//  line-height: 34px !important;
//}

.el-input__prefix {
  font-size: 18px !important;
}

//form


//tag
//.el-tag--dark {
//  background-color: rgb(48, 92, 208) !important;
//  border-color: rgb(48, 92, 208) !important;
//}
//
//.el-tag--plain {
//  background-color: rgb(255, 255, 255);
//  border-color: rgb(48, 92, 208) !important;
//  color: rgb(48, 92, 208) !important;
//}

//menu

.el-menu {
  border-right: none !important;

  &::-webkit-scrollbar {
    display: none;
  }
}
.el-menu:not(.el-menu--collapse) {
  width: 200px;
}

.el-menu .el-menu-item.is-active {
  background-color: rgb(64, 158, 255) !important;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}



.sidebar > ul {
  height: calc(100% - 65px);
}


.el-menu-item:focus,
.el-menu-item:hover {
  outline: 0px;
  background-color: #606266 !important;
}

.el-submenu__title:hover {
  background-color: #606266 !important;
}

.el-menu--vertical .sidebar-title {
  padding-left: 8px !important;
}

.sidebar-nullIcon{
  display: block;
  text-align: center;
}



// dialog
.el-dialog{
  border-radius: 6px 6px 0 0!important;
  .el-dialog__header{
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px 10px 10px 10px !important;
    border-radius: 6px 6px 0 0!important;
  }

  .el-dialog__title,.el-icon-close{
    color: #fff !important;
    font-size: 16px !important;
  }
}

// drawer
#el-drawer__title{
  padding: 10px!important;
    margin-bottom: 20px!important;
    font-size: 16px !important;
}

