@mixin min-wid($width) {
  // 最低宽度
  min-width: $width;
};
@mixin max-wid($width) {
  // 最大宽度
  max-width: $width;
};

@mixin min-hei($height) {
   // 最低高度
  min-height: $height;
};
@mixin max-hei($height) {
  // 最高高度
 max-height: $height;
};
@mixin  font-s($size){
  //字体大小
  font-size: $size;
}
@mixin  font-col($color){
  //字体颜色
    color: $color;
}

@mixin abnormal {
  //异常页面样式
  @include max-hei(300px);
};

.abnormal-img{
  //异常页面样式
  @include abnormal;
  padding-top:calc(100vh - 750px);
};
.abnormal-tip{
 @include font-col(#909399);
 @include font-s(17px);
 padding:0 0 24px 0;
};


.zan-pagination {
  text-align: right;
  margin-top: 12px;
}

.zan-nav, .zan-table {
  box-sizing: border-box;
}

#nprogress .bar {
  //background: rgb(48, 92, 208) !important; // 加载进度条自定义颜色
}

#nprogress {
  .bar {
    z-index: 15031;
  }

  .spinner {
    z-index: 15031;
  }
}

/*全局滚动条样式*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
/* background-color: #01c8dc;
border-radius: 3px; */
  background-color: #b6b6b6;
}
/*全局滚动条样式结束*/

.m-t8 {
  margin-top: 8px;
}
.m-l8{
  margin-left: 8px;
}

.p-defult{
  padding: 24px;
}

.bg-defult{
  background-color:#F2F6FC;
  width: calc(100vw - 800px);
  font-size: 14px;
  color: #000;
}

.t-l{
  text-align: left;
}

.font-32{
  font-size: 32px;
}

.min-w600{
  min-width: 600px;
}

.min-h500{
  min-height: 500px;
}

.min-h350{
  min-height: 350px;
}


.defult-h{
  min-height: 500px;
  height: calc(100vh - 175px);
}

.df-c{
  display: flex;
  align-items: center;
}





